/* Full page styles */
*{
    max-width: 1170px;
    margin: 0 auto;
}

main{
    margin: 0 187px;
}

/* Header styles */
#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    background-color: RGB(242,112,42);
}
header img{
    width: 150px;
    height: 100px;
    margin-left: 10px;
}

header h1{
    font-family: "Madimi One", sans-serif;
    text-shadow: 2px 1px 5px ghostwhite;
    padding-left: 100px;
}
#headNav ul{
    display: flex;
    flex-direction: row;
    margin-left: 0;
} 
#headNav li{
    list-style: none;
    margin-left: 10px;
} 

#loginLogo {
    background: url(../images/sprite.png) 209px -5px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: 500px;
    cursor: pointer;
}

#infoLogo {
    background: url(../images/sprite.png) 137px -8px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: 500px;
    cursor: pointer;
}

#cartLogo {
    background: url(../images/sprite.png)  62px -7px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: 500px;
    cursor: pointer;
}

#loginLogo:hover {
    background: url(../images/sprite.png) 209px -76px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: 500px;
}

#infoLogo:hover {
    background: url(../images/sprite.png) 137px -79.5px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: 500px;
}

#cartLogo:hover {
    background: url(../images/sprite.png)  62px -78px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: 500px;
}

#mainNav ul{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #F5F5F5;
    padding-left: 165px;
}

#mainNav li{
    list-style: none;
    text-decoration: none;
    font-family: "PT Serif Caption", serif;
    color: black;
    margin: 0 0 0 20px;
}

#mainNav a {
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    font-family: "PT Serif Caption", serif;
    font-weight: bold;
    color: black;
}

#mainNav a:hover{
    color: RGB(242,112,42);
}

/* main body styles */

/* First Section "our sneakers" styles */
#section1{
    margin-top: 20px;
}

#section1 h1{
    font-family: "Madimi One", sans-serif;
    color: RGB(242,112,42);
    font-size: 20px;
    border-bottom: 4px dotted RGB(242,112,42);
}

#section1 h2{
    font-family: "PT Serif Caption", serif;
    font-size: 13px;
    margin-top: 10px;
}

#sneakersList h1{
    color: black;
    border: none;
    font-size: 50px;
    font-family: "PT Serif Caption", serif!important;
    font-weight: 300!important;
}

#casualSneakers {
    height: 150px;
    border: 1px solid;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#casualSneakers img{
    width: 20%;
    height: 75%;
    margin: 0 10px;
}

#csContainer{
    margin-left: 95px;
}

#csContainer p {
    font-family: "Madimi One", sans-serif;
}
#casualSneakers ul {
    list-style-type: none;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

#casualSneakers li {
    background-image: url('/images/icon.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: "PT Serif Caption", serif;
    font-size: 13px;
}

#casualSneakers h1{
    height: 100%;
    width: 24%;
    background-color: #F5F5F5;
    align-content: center;
    margin: 0;
    text-align: center;
}

#elegantSneakers {
    height: 150px;
    border: 1px solid;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 15px;
}

#elegantSneakers img{
    width: 20%;
    height: 75%;
    margin-right: 10px;
    max-width: fit-content;
}

#esContainer p {
    font-family: "Madimi One", sans-serif;
}
#elegantSneakers ul {
    list-style-type: none;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

#elegantSneakers li {
    background-image: url('/images/icon.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: "PT Serif Caption", serif;
    font-size: 13px;
}

#elegantSneakers h1{
    height: 100%;
    width: 24%;
    background-color: #F5F5F5;
    align-content: center;
    margin: 0;
    text-align: center;
}

#classicalSneakers {
    height: 150px;
    border: 1px solid;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 15px;
}

#classicalSneakers img{
    width: 20%;
    height: 75%;
}

#clContainer {
    margin-right: 130px;
}

#clContainer p {
    font-family: "Madimi One", sans-serif;
}

#classicalSneakers ul {
    list-style-type: none;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

#classicalSneakers li {
    background-image: url('/images/icon.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: "PT Serif Caption", serif;
    font-size: 13px;
}

#classicalSneakers h1{
    height: 100%;
    width: 24%;
    background-color: #F5F5F5;
    align-content: center;
    margin: 0;
    text-align: center;
}

/* Second Section "do sports" styles */
#section2 h1{
    font-family: "Madimi One", sans-serif;
    color: RGB(242,112,42);
    font-size: 20px;
    border-bottom: 4px dotted RGB(242,112,42);
}

#section2 h2{
    font-family: "PT Serif Caption", serif;
    font-size: 13px;
    height: 20px;
    margin-top: 10px;
}

#section2 p{
    font-family: "PT Serif Caption", serif;
    font-size: 13px;
}

#sportCharacterisitics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px auto;
}
  
#galleryElement1 {
    margin: 5px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 46%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
#galleryElement1 img {
    width: 100%;
    height: auto;
    border-radius: 70% / 25%;
}
  
#galleryElement1 p {
    margin-top: 10px;
}

#galleryElement2 {
    margin: 5px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 46%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
#galleryElement2 img {
    width: 100%;
    height: auto;
    border-radius: 70% / 25%;
}
  
#galleryElement2 p {
    margin-top: 10px;
}

#galleryElement3 {
    margin: 5px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 21%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
#galleryElement3 img {
    width: 100%;
    height: auto;
    border-radius: 50px;
}
  
#galleryElement3 p {
    margin-top: 10px;
}

#galleryElement4 {
    margin: 5px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 21%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
#galleryElement4 img {
    width: 100%;
    height: auto;
    border-radius: 50px;
}
  
#galleryElement4 p {
    margin-top: 10px;
}

#galleryElement5 {
    margin: 5px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 21%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
#galleryElement5 img {
    width: 100%;
    height: auto;
    border-radius: 50px;
}
  
#galleryElement5 p {
    margin-top: 10px;
}

#galleryElement6 {
    margin: 5px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 21%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
#galleryElement6 img {
    width: 100%;
    height: auto;
    border-radius: 50px;
}
  
#galleryElement6 p {
    margin-top: 10px;
}

/* Third Section "contact us" styles */
#section3 h1{
    font-family: "Madimi One", sans-serif;
    color: RGB(242,112,42);
    font-size: 20px;
    border-bottom: 4px dotted RGB(242,112,42);
    margin-top: 15px;
}

#section3 h2{
    font-family: "PT Serif Caption", serif;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#signUpInfo{
    width: 100%;
    height: 150px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signUpInfo h1{
    border: none;
    margin-bottom: 20px;
}

#signUpInfo button {
    font-family: "PT Serif Caption", serif;
    width: 100px;
    height: 40px;
    background-color: RGB(242,112,42);
    color: #fff;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
  
#signUpInfo button:hover {
    background-color: RGB(200, 80, 0);
}

#contactInformation {
    margin-top: 10px;
    margin-left: 10px;
    height: 150px; 
    font-family: "PT Serif Caption", serif;
    display: flex;
}

#contactText {
    align-content: center;
    line-height: 0;
}

#footerLogos{
    align-content: center;
}

#faceLogo {
    background: url(../images/sprite.png) 0px 0px / 419px;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#linkLogo {
    background: url(../images/sprite.png) -60px 0px / 419px;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#xLogo {
    background: url(../images/sprite.png) -120px 0px / 421px;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#instaLogo {
    background: url(../images/sprite.png) -180px 0px / 421px;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#faceLogo:hover {
    background: url(../images/sprite.png) 0px -60px / 419px;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#linkLogo:hover {
    background: url(../images/sprite.png) -60px -60px / 419px;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#xLogo:hover {
    background: url(../images/sprite.png) -120px -60px / 421px;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#instaLogo:hover {
    background: url(../images/sprite.png) -180px -60px / 421px;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

/* Footer Styles */
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 70px;
    padding: 0 150px;
}

#footerNav li{
    list-style: none;
    color: #fff;
    font-family: "PT Serif Caption", serif;
}

#footerNav a{
    text-decoration: none;
    color: #fff;
    opacity: 80%;
}

#footerNav a:hover{
    text-decoration: none;
    color: #fff;
    opacity: 100%;
}